<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link href="app.css" rel="stylesheet" type="text/css" media="only screen and (min-width:960px)">
  
<div id="wrapper"> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><%= message %></h1>
        </div>
    </div>

    <br>

    <div class = "containter">
    <h2>Error <%= error.status %></h2>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

